@import 'libs/_animation';
@import 'libs/_base';
@import 'libs/_mixins';

$sizephone: 688px;
$sizetablet: 1312px;

body,#bloc-page{
        margin-left: auto;
        margin-right: auto;
        min-width: 400px;
        color: black;
        box-sizing: content-box;
        padding: 0;
        margin: auto;
        @media screen and (max-width: $sizephone) {
            max-width: $sizephone;
            min-width: 0;
            margin: 0;
        }
        a{
            color: black;
            text-decoration: none;
        }
}

nav, section{
    max-width: 1400px;
    margin: auto;
}
.bannerlogo{
    display: flex;
    align-content: space-between;
}
.logo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
        @media screen and (max-width: $sizephone){
            font-size: 2rem;
        } 
        img{
            width: 20%;
            padding-left: 1rem;
            @media screen and (max-width: $sizephone){
                width: 35%;
            }
        }   
}
h1{
    @include shadow-title;
    color: darken($color-white, 80%);
    position: absolute;
    padding-right: 1rem;
    right: 0;
    cursor: pointer;
}
h2, h4{
    color: darken($color-white, 80%);
    @include shadow-box;
    @include shadow-title;
    margin: 0;
    padding: 2rem;
}
#meubles{
    display: grid;
    padding-top: 35px;
    padding-bottom: 35px;
    grid-template-columns: auto auto;
    gap: 25px;
    margin: auto;
    justify-content: center;
    align-content: center;
    background-color: rgba(128, 128, 128, 0.384);
        @media screen and (max-width: $sizephone){
            grid-template-columns: auto;
        }
    }

.furniture-oak{
    display: grid;
    width: 450px;
    border: solid 2px rgb(255, 255, 255, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @include box-shadow;
        @media screen and (max-width: $sizephone){
            width: 250px;
        }
    
}

.image_oak{
    width: 100%;
    
    display: flex;
    justify-content: center;
    
    & img{
        position: relative;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
        padding: 0;
        margin: 0;
    }
}
.price-name{
    background: linear-gradient(0.25turn, $color-primary-opacity, $color-secondary-opacity, $color-tertiary-opacity);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
        &_product{
            background: linear-gradient(0.25turn, $color-primary-opacity, $color-secondary-opacity, $color-tertiary-opacity);
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }
}
.name_oak{
    font-family: 'roboto-medium-ita', sans-serif;
    font-size: 1.3rem;
    @media screen and (max-width: $sizephone){
        font-size: 1rem;
        overflow:hidden;
        text-overflow: ellipsis;
    }
}
.price{
    font-family: 'geo', sans-serif;
    font-size: 1.2rem;

}
